{% extends "layout.html" %}
{% block content %}
<div class="row">
	<aside class="col-lg-3" style="background-color: cyan;">
		<h2>Profile card</h2>
	</aside>
	<div class="col-lg-9">
		<ul class="nav nav-pills">
			<li class="active"><a href="#Merps" data-toggle="pill">Merps</a></li>
			<li><a href="#Responses" data-toggle="pill">Responses</a></li>
		</ul>
		<div class="pill-content">
			<div class="pill-pane active table-responsive" id="Merps">
				<table class="table">
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Pay</th>
						<th>Date</th>
						<th>User</th>
					</tr>
					<tr>
						{% if posts %}
						{% for post in posts %}
						<td>{{ post.title }}</td>
						<td>{{ post.description }}</td>
						<td>{{ post.pay }}</td>
						<td>{{ post.date }}</td>
						<td>{{ post.the_user }}</td>
						{% endfor %}
						{% else %}
						<td colspan="5" class="text-center">No entries found.</td>
						{% endif %}
					</tr>
				</table>
			</div>
			<div class="pill-pane" id="Responses">
				<p>Responses!</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
