{% extends "layout.html" %}
{% block content %}
<div class="jumbotron text-center" style="background-image: url('{{ url_for('static', filename='jumbotron.JPG') }}'); color: #EEEEEE;">
	<h1>MerpIt!</h1>
	<h2>Made for college students, by college students.</h2>
	{% if 'username' not in session %}<div class="btn-group">
		<a class="btn btn-lg btn-primary" href="{{ url_for('signin') }}">Sign in</a>
		<a class="btn btn-lg btn-primary" href="{{ url_for('signup') }}">Sign up</a>
	</div>{% endif %}
</div>
<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-4">
		<h2>Helping broke college students become, unbroke!</h2>
		<p>College students are notoriously poor. MerpIt enables these college students to find quick cash.</p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<h2>Get high-quality workers and results. </h2>
		<p>On the other side, when you are in a pickle, you can easily get quick, reliable help!</p>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4">
		<h2>Payments made easy.</h2>
		<p>Making and receiving payments has never been so easy. We incorporate payments through Venmo. Never worry about writing checks again!</p>
	</div>
</div>
{% endblock %}
