<!doctype html>
<html>
  <head>
    
    {% if page %}
    <title>So College | {{page}}</title>
    {% else %}
    <title>So College</title>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="static/css/style.css">

  </head>

  <body>
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <p><strong>{{ message }}</strong></p>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    
    <div>
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>