<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	{% if page %}
	<title>{{page}}&nbsp;&ndash;&nbsp;So College</title>
	{% else %}
	<title>So College</title>
	{% endif %}
</head>
<body>
<div class="container">
{% with messages = get_flashed_messages() %}
	{% if messages %}{% for message in messages %}<div class="alert alert-info">{{ message }}</div>{% endfor %}{% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</div>
<!--JavaScript at the bottom for faster loading-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
